**Assignment1**

Adwyth Sumesh 21BCE5604

In [2]:
import pandas as pd
import numpy as np

**Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)**

In [11]:
data={
    "Name":['ananth','madhav','joshua','adwyth','sreenath','abhi','hansel','jithu','pranav','manan'],
    "id":[100,101,102,103,104,105,106,107,108,109],
    "math_marks":[78, 92, 65, 88, 45, 70, 83, 57, 95, 68],
    "dsa_marks":[72, 89, 53, 77, 94, 61, np.nan, 40, 79, 58],
    "cn_marks":[87, 32, 59, 76, np.nan, 41, 68, 84, 25, 70]

}

In [9]:
df=pd.DataFrame(data)
df

       Name   id  math_marks  dsa_marks  cn_marks
0    ananth  100          78       72.0      87.0
1    madhav  101          92       89.0      32.0
2    joshua  102          65       53.0      59.0
3    adwyth  103          88       77.0      76.0
4  sreenath  104          45       94.0       NaN
5      abhi  105          70       61.0      41.0
6    hansel  106          83        NaN      68.0
7     jithu  107          57       40.0      84.0
8    pranav  108          95       79.0      25.0
9     manan  109          68       58.0      70.0

**Task- 2 Check the info of 'df'**

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   id          10 non-null     int64
 2   math_marks  10 non-null     int64
 3   dsa_marks   9 non-null      float64
 4   cn_marks    9 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 528.0+ bytes

**Task 3- Check the descriptive statistics of 'df'**

In [13]:
df.describe()

              id  math_marks  dsa_marks   cn_marks
count   10.00000   10.000000   9.000000   9.000000
mean   104.50000   74.100000  69.222222  60.222222
std      3.02765   16.058573  17.605239  22.626189
min    100.00000   45.000000  40.000000  25.000000
25%    102.25000   65.750000  58.000000  41.000000
50%    104.50000   74.000000  72.000000  68.000000
75%    106.75000   86.750000  79.000000  76.000000
max    109.00000   95.000000  94.000000  87.000000

**Task 4- check the 4th index observation with 'loc' slicing operator.**

In [14]:
df.loc[4]

Name          sreenath
id                 104
math_marks          45
dsa_marks         94.0
cn_marks           NaN
Name: 4, dtype: object

**Task 5 - Check the null values in your 'df'**

In [15]:
df.isnull().any() #to check if there exists any null values

Name          False
id            False
math_marks    False
dsa_marks      True
cn_marks       True
dtype: bool

In [17]:
df.isnull().sum() #to check the no of null values in each column

Name          0
id            0
math_marks    0
dsa_marks     1
cn_marks      1
dtype: int64